.admin-sidebar-left {
  position: fixed;
  left: 0;
  bottom: 10vh;

  width: auto !important;
  height: auto;

  .admin-sidebar-left__small {

    width: 60px;
    padding-right: 25px;


    border-radius: 0 10px 10px 0;
    border: 2px solid white;
    background: #343a40;
  }

  .admin-sidebar-left__full {
    width: auto;
    font-size: 14px;

    border-radius: 10px;
    background: darkslategrey;

    p {
      margin-bottom: 11px;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: black;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .admin-sidebar-left {
    display: none;
  }
}
