.button_back {
  position: fixed;
  left: 0;
  top: 20vh;

  width: auto !important;

  height: auto;

  .button_back__small {

    width: 60px;
    padding-right: 25px;


    border-radius: 0 10px 10px 0;
    border: 2px solid white;
    background: #343a40;
  }
}

@media screen and (max-width: 600px) {
  .button_back {
    display: none;
  }
}
