p = answer.body
= link_to 'Удалить ответ', answer_path(answer), method: :delete, remote: true
= link_to 'Редактировать ответ', edit_answer_path(answer), method: :get, remote: true
div class="answer__form-edit-#{answer.id}"
