default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: examtutor_development
  password: 123456

test:
  <<: *default
  database: examtutor_test
  password: 123456

production:
  <<: *default
  database: examtutor_production
  username: postgres
  password: <%= ENV['EXAMTUTOR_DATABASE_PASSWORD'] %>
  pool: 20
