.notifications-dropdown {
  .dropleft {
    button {
      background: black;

      &:hover {
        background: darkorange;
      }
    }
  }
}

.nav__right-block {
  display: flex;

  .dropdown-menu {
    width: max-content;

    background: #6c757d;

    p {
      margin: 0;
    }

    a {
      color: black;
      font-size: 0.7rem;
    }

  }
}

.notify-button {
  width: 100px;
  background-color: #e3ecff !important;
  border: 1px solid black !important;

  margin-right: 0.2rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  font-size: 0.7rem !important;
}

.nav-dropdown-profile {
  img {
    width: auto;
    height: 32px;
  }
}

.navbar-base {
  line-height: 1.4;
  padding-left: 4.5vw !important;
  padding-right: 4.5vw !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 700px) {
  .nav__right-block {
    .search-block {
      display: none;
    }
  }
}
