.title-examtutor {
  a {
    display: block;
    color: #3f8ed9;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 36px;

    &:hover {
      text-decoration: none;
      color: #3f8ed9;
    }
  }
 }

#navbarToggleExternalContent {
  text-shadow: 3px 3px 3px black;
}
