$('#messageToTutorModal').modal('hide')
$('#form-messages').html('Сообщение отправлено!')
$('.flash-block').html("<div class='alert alert-success'><button class='close clear' data-dismiss='alert'>×</button>Сообщение успешно отправлено!</div>")

$('form #name').val('')
$('form #email').val('')
$('form #message').val('')

