html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #f3f3f3 !important;

  &.modal-open {
    overflow: auto;
    padding-right: 0 !important;
  }
}

.base-space{
  min-height: 100%;
  display: grid;
  align-content: space-between;
}

.table {
  background-color: white;
}

.alert {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  p {
    margin: 0;
  }
}

.flash-block {
  position: relative;

  width:  auto;
  height: 5vh;
}

.resource-errors {
  position: absolute;
  text-align: center;

  height: 5vh;
  p {
    margin: 0;
    color: red;
  }
}

.mce-content-body {
  background-color: white !important;
}

.breadcrumb {
  --text-color: white;

  width: max-content;
  padding: 0 !important;
  font-size: 0.9rem;

  background-color: #454d55 !important;
  color: #999999;

  li {
    margin-right: 5px;
    margin-left: 5px;
    a {
      color: var(--text-color);

      &:hover {
        color: #00b7ea;
      }
    }
  }
}

.mr_1 {
  margin-right: 1vw;
}
.display-flex{
  display: flex;
}

.mt-5vh{
  margin-top: 5vw;
}

.mb-5vh{
  margin-bottom: 5vw !important;
}

.mb_1 {
  margin-bottom: 1vh;
}

.mt-5 {
  margin-top: 5vh;
}

.mb-0-for-child {
  p {
    margin-bottom: 0;
  }
}

.small_text {
  font-size: 0.7rem;
  color: #6c757d;
  margin-bottom: 0;
  margin-top: 0.3rem;

  a {
    color: grey;

    &:hover{
      text-decoration: none;

      color: #00b7ea;
    }
  }
}

.hidden {
  display: none;
}

.ta-center {
  text-align: center;
}

.material-icons.green {
  color: green;
}

.material-icons.red {
  color: red;
}

.material-icons.blue {
  color: #00b7ea
}

.w-90 {
  width: 90% !important;
}

.white-for-child {
   * {
     color: white;
   }

  a {
    &:hover {
      text-decoration: none;
      color: #00b7ea;
    }
  }
}

.mr_1_for_child * {
  margin-right: 1%;
}

.mr_5_for_child * {
  margin-right: 5%;
}

.form-block_center {
  width: 40%;
  margin: auto;
}

.white {
  color: white;
}

.blue {
  color: #00b7ea;
}

.handle {
  cursor: pointer;
}

.br-10 {
  border-radius: 10px;
}

.text-1rem {
  a {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 15vw;
  }

  .form-block_center {
    width: 100%;
    margin: auto;
  }
}
