.tutor-info__block {
  .profile-photo-image {
    margin-right: 1vw;
    width: 100%;
    height: auto;
  }

  .profile-info {
    p {
      text-align: justify;
    }
  }

  .diploms-block {
    display: inline;
    div {
      float: left;
      width: 10vw;

      .diplom-size {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .tutor-info__block {
    margin-right: 1px;
    margin-left: 1px;

    .diploms-block {
      display: block;
      div {
        width: 30vw;
        .diplom-size {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
