.tutor-info__block {
  .profile-info {
    p {
      text-align: justify;

      .profile-photo-image {
        float: left;
        margin-right: 1vw;
        width: 50%;
        height: auto;
      }
    }

  }

  .diplom-size {
    width: 20vh;
    height: auto;
  }
}
