<p>Привет <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для смены пароля. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали смену пароля, пожалуйста, проигнорируйте это письмо.</p>
<p>Ваш пароль не измениться, пока вы не перейдёте по ссылке.</p>
