.card-deck {
  margin-bottom: 5vh;
}

.card {
  min-width: 25vw !important;
  margin-bottom: 3vh !important;
}
.post-form {
  margin-bottom: 1vh;

  .post-form__fields {
    display: none;

    .submit{
      display: flex;
      justify-content: flex-end;
    }
  }

  input {
    margin-top: 1vh;
  }
}

.post-card {

  .button_to {
    font-family: 'Oswald', sans-serif !important;
  }

  .card-header {
    width: 100%;
    //background-color: #00b7ea  !important;
    background-image: radial-gradient(circle, #d2d8da, #adc5cd, #87b2c1, #5e9fb5, #248caa) !important;
  }

  .card-body {
    height: 170px;
    font-family: Proxima Nova Regular, "helvetica neue", arial, helvetica, sans-serif !important;
    font-size: 0.9rem;
    background-color: black;
    color: white;
  }

  .card-footer {
    .row {
      --footet-text-color: #666666;
      font-size: 0.8rem;
      color: var(--footet-text-color);

      a {
        color: var(--footet-text-color);
        text-decoration: none;

        &:hover {
          color: #00b7ea;
        }
      }
    }
  }
}

article {
  border: 2px solid black;
  background-color: white;
  padding: 1vh;

  h1 {
    font-family: 'Oswald', sans-serif;
  }

  p {
    font-family: Proxima Nova Regular, "helvetica neue", arial, helvetica, sans-serif !important;
  }
}
