.vote {
  &:hover {
    .material-icons {
      color: #00b7ea;
    }
  }
}

.post-show-block {
  .delete-file-link {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .post-votes {
    display: none;
  }
}
