$('.flash-block').html('<%= render 'shared/errors', resource: @attendance %>');

<% if !@attendance.errors.present?%>
  $('.flash-block').html("<div class='alert alert-success'><button class='close clear' data-dismiss='alert'>×</button><a href='/characteristics/<%=@attendance.user.id%>'>Посещение</a> успешно изменено!</div>")
<% end %>
